.background{
    background-image: url(./rick\ &\ morty\ a\ 20\ minutes\ adventure_.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:95%;
    gap: 1rem;

}

.divcontainer{
    display: flex;
    flex-direction: column;
    border-radius: 67px 66px 65px 66px;
    /* background-color: pink; */
    
}

.label{
    margin-bottom: 10px;
    font-family: "Get Schwifty";
    src: url("get_schwifty.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: #08BAE3;
    z-index: 50;
    -webkit-text-stroke: 1.5px #0a3d2b ;
    text-shadow: 0 0 10px #FFF765, 0 0 10px #FFF765;
    
}

#inputcontainer{
    border: 3px solid #5776b5;
    background: #a1afd9;
}

.error{
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    background: #f56060;
    border: 3px solid #ff0000;
}

.succes{
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    background: #60f579;
    border: 3px solid #009734;
}