#pushable {
    position: relative;
    background: #78d1ca;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
    background: linear-gradient(
      to left,
      hsl(175.281deg 49% 16%) 0%,
      hsl(175.281deg 49%, 32%) 8%,
      hsl(175.281deg 49% 32%) 92%,
      hsl(175.281deg 49% 16%) 100%,
  
    );
  }
  
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border: 5px solid #152927;
    border-radius: 200px 200px 200px 200px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    font-size: 1.25rem;
    background: hsl(175.281deg, 49%, 65%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  #pushable:hover {
    filter: brightness(110%);
  }
  
  #pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  #pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  #pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  #pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  #pushable:focus:not(:focus-visible) {
    outline: none;
  }